.btn{
	text-align: center;
}
a:link, a:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	
}

a:hover, a:active {
	background-color: black;
}

a{
	margin-right: 200px;
}

p{
	margin-right:800px;
	font-size: 20px;
}

body {
		background-image: url("alia.jpg");
		background-repeat: no-repeat;
		margin-right: 0px;
		background-position: top right;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 16px;
}