.btn{
	text-align: center;
}

a:link, a:visited {
    background-color: purple;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

a:hover, a:active {
background-color: black;}

body {
		background-repeat: no-repeat;
		margin-right: 0px;
		background-position: top right;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 16px;
}

p {
	margin-right: 500px;
	font-size: 20px;
}
