.btn{
	text-align: center;
}
a:link, a:visited {
    background-color: burlywood;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

a:hover, a:active {
	background-color: black;
}

html { 
  background: url(hands.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}