h1 {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
}

.radio {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
}  