.btn{
	text-align: center;
}
.s:link, .s:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

.s:hover, .s:active {
	background-color: black;
}
.s{
	margin-right: 200px;
}
body {
		background-image: url("fml.jpg");
		background-repeat: no-repeat;
		background-position: top right;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 16px;
}

p {
	margin-right: 800px;
	font-size: 20px;
}