.btn{
	text-align: center;
}
.s:link, .s:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

.s:hover, .s:active {
	background-color: black;
}

body {
		background-image: url("fml.jpg");
		background-repeat: no-repeat;
		background-position: top right;
		
}