h1 {
		color: white;
		font-family: Lucida Grande;
		font-size: 150%; 
		position: relative;
		left: 10px;
	}

h2 {
		color: white;
		font-family: Lucida Grande;
		font-size: 200%; 
		position: relative;
		left: 250px;
	}
	
	
h3 {
		color: white;
		font-family: Lucida Grande;
		font-size: 150%; 
		position: relative;
		left: 10px;
		
	}
	
h4 {
		color: white;
		font-family: Lucida Grande;
		font-size: 300%; 
		position: relative;
		left: 0px;
	}
h5 {
		color: white;
		font-family: Lucida Grande;
		font-size: 300%; 
		position: relative;
		left: 100px;
	}
	