h1 {
		color: black;
		font-family: Lucida Grande;
		font-size: 200%; 
		position: relative;
		left: 0px;
	}
	
h2 {
		color: Thistle;
		font-family: Lucida Grande;
		font-size: 100%%; 
		position: relative;
		left: 0px;
	}
	
h3 {
		color: white;
		font-family: Lucida Grande;
		font-size: 200%; 
		position: relative;
		left: 0px;
		right: 80px;
		float: left
		
	}
	
h4 {
		color: white;
		font-family: Lucida Grande;
		font-size: 300%; 
		position: relative;
		left: 0px;
	}
h5 {
		color: white;
		font-family: Lucida Grande;
		font-size: 300%; 
		position: relative;
		left: 100px;
	}
	
html { 
  background: url(SlothWorriedFace.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

